*{
    box-sizing: border-box;
    
}
.back {
    background-color:rgb(44, 51, 59);
    padding: 200px;
    
}
.details {
    color: white;
}
.name {
    background-color:white;
    border: solid rgb(194, 98, 142) 20px;
    padding: 20px;
    margin-top: 40px;
    width: 400px;
    font-family: Courier;
    font-weight: bold;
    padding-left: 20%;
    }
      
    #error { color: red;
        
    }

     .cont h1 {
        
         font-family: 'Courier New', Courier, monospace;
         padding: 8px;
         width: 300px;
         margin-right: 50px;
         box-shadow: 0 8px 6px -6px black;
         text-align: center;
         font-weight: bold;
         position: relative;
         
     }
    .amount{
        color: rgb(7, 93, 85);
        background-color:rgb(237, 239, 234);
        width: 150px;
        margin-left: 20px;
        margin-top: 40px;
        padding: none;
        text-align: center;
        font-size: 2em;
    }
       
    
    button {
        color: white;
        background-color:rgb(0, 130, 143);
        padding: 10px;
        width: 100px;
        margin-left: 20px;
        margin-top: 3px;
        border: none;
    }
    .container {
        display: flex;
        
    }
    .under {
        color: white;
        margin-top: 150px;
        text-align: center;
    }
    input {
        background-color: transparent;
        color: white;
    }

    .circle {   height: 20px;
        width: 20px;
        border-radius: 50%;
        display: inline-block;
        margin-left: -30px;
        position: relative;
        background-color: rgb(121, 63, 93);
        border: solid rgb(194, 98, 142) 5px
       
    }

    
    .innercircle {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        margin-left: 200px;
        background-color: rgb(121, 63, 93);
        border:solid rgb(194, 98, 142) 5px;      
        margin-top: -5px;  
    }

    .error{
        color: red;
    }

    #rest{
        color: white;
        background-color:rgb(0, 130, 143);
        padding: 10px;
        width: 150px;
        margin-left: 20px;
        margin-top: 3px;
        border: none;
    }
